<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.mybatis.mapper.OrderMapper">
    <select id="selectMap" resultType="Order">
        select *
        from t_order
        where menu_id = #{menuId}
          and user_id = #{userId}
    </select>

    <select id="selectParam" resultType="Order">
        select *
        from t_order
        where menu_id = #{menuId}
          and user_id = #{userId}
    </select>

    <select id="selectObjectParam" resultType="Order">
        select a.*
        from t_order a,
             t_user b
        where a.user_id = b.id
          and b.name = #{user.name}
          and b.sex = #{user.sex}
          and a.menu_id = #{order.menuId}
    </select>


    <select id="selectChoose" resultType="Order">
        select * from t_order
        <where>
            # choose满足一个条件后，不再判断和拼接后面的条件
            <choose>
                <when test="id !=null and id !='' ">
                    and id=#{id}
                </when>
                <when test="menuId !=null and menuId !='' ">
                    and menu_id=#{menuId}
                </when>
                <otherwise>
                    and 1=2
                </otherwise>
            </choose>
        </where>
    </select>

    <update id="updateSet">
        UPDATE t_order
        /* set 与 where 相似，会在sql语句前面加上set ，并去掉最后的‘,’
        where 则是 在前面加上where，去掉最后一句的 and、or */
        <set>
            <if test="menuId !=null and menuId !='' ">
                menu_id=#{menuId},
            </if>
            <if test="userId !=null and userId !='' ">
                user_id=#{userId},
            </if>
            id = #{id},
        </set>
        WHERE id = #{id}
    </update>

    <!--
    批量返回主键值，需要数据库支持主键自增，暂时支持mysql
    取值使用类似 order.menuId 的方式     -->
    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order1 ( menu_id, user_id) VALUES
        <foreach collection="list" item="order" separator=",">
            ( #{order.menuId}, #{order.userId})
        </foreach>
    </insert>

    <select id="selectGte" resultType="Order">
        select *
        from t_order
        where menu_id &lt;= #{menuId}
    </select>

</mapper>