<mapper namespace="com.study.mybatis.diyMybatis.dao.UserDao">
    <select id="findByCondition" paramterType="com.study.mybatis.diyMybatis.DO.User"
            resultType="com.study.mybatis.diyMybatis.DO.User">
        select id,name from t_user where id = #{id} and name =#{name}
    </select>
    <select id="findAll" paramterType="com.study.mybatis.diyMybatis.DO.User"
            resultType="com.study.mybatis.diyMybatis.DO.User">
        select id,name from t_user
    </select>
</mapper>