<mapper namespace="User">
    <select id="selectOne" paramterType="com.study.mybatis.diyMybatis.DO.User"
            resultType="com.study.mybatis.diyMybatis.DO.User">
        select id,name from t_user where id = #{id} and username =#{username}
    </select>
    <select id="selectList" paramterType="com.study.mybatis.diyMybatis.DO.User"
            resultType="com.study.mybatis.diyMybatis.DO.User">
        select id,name from t_user
    </select>
</mapper>