<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
    <select id="findAll" resultType="User">
        select *
        from t_user
    </select>
    <insert id="add" parameterType="User">
        INSERT INTO t_user (id, name)
        VALUES (#{id}, #{name})
    </insert>

    <update id="update" parameterType="User">
        UPDATE t_user
        SET name=#{name}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="com.study.mybatis.diyMybatis.DO.User">
        delete
        from t_user
        where id = #{id}
    </delete>


</mapper>